services:
  producer:
    build: .
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    container_name: producer
    command: /bin/bash
    networks:
      - network1
    volumes:
      - ./app:/producer/app

networks:
  network1:
    name: mynetwork
    driver: bridge

